 In a multiple regression model: ùê≤ = ùêóùõÉ + ùõú, it is critical to know if (ùêóùëáùêó)‚àí1 exists. The diagonal elements of (ùêóùëáùêó)‚àí1 in correlation form, i.e., ùêó is normalized, are often called Variance Inflation Factors (VIFs), and they are important multicollinearity diagnostic. VIF for the ùëóùë°h regression coefficient is expressed as
VIFùëó= 1/1‚àíùëÖ2 , where ùëÖ2 is the coefficient of multiple determination obtained from regressing ùê± on the other regressor ùëóùëó
variables (ùê±1 to ùê±ùëù, except ùê±ùëó). Calculate all the VIFs in the autompg dataset and discuss your observation.

In [ ]:
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor 
import statsmodels.api as sm

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/homework_3/auto_data.csv', sep=";", header=None, names=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',  'acceleration', 'model year', 'origin', 'car name' ])

df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [ ]:
X = df[['mpg','cylinders', 'displacement', 'horsepower', 'weight',  'acceleration', 'model year', 'origin']]
X

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504,12.0,70,1
1,15.0,8,350.0,165,3693,11.5,70,1
2,18.0,8,318.0,150,3436,11.0,70,1
3,16.0,8,304.0,150,3433,12.0,70,1
4,17.0,8,302.0,140,3449,10.5,70,1
...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,1
388,44.0,4,97.0,52,2130,24.6,82,2
389,32.0,4,135.0,84,2295,11.6,82,1
390,28.0,4,120.0,79,2625,18.6,82,1
391,31.0,4,119.0,82,2720,19.4,82,1

In [ ]:
X = sm.add_constant(X)

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
VIF = pd.DataFrame()
VIF["Data Type - Var"] = X.columns

In [ ]:
VIF

  Data Type - Var
0           const
1             mpg
2       cylinders
3    displacement
4      horsepower
5          weight
6    acceleration
7      model year
8          origin

In [ ]:
VIF["VIF"] = [variance_inflation_factor(X.values, i) for i in range(len(X.columns))]

In [ ]:
VIF

  Data Type - Var         VIF
0           const  790.888714
1             mpg    5.601553
2       cylinders   10.802663
3    displacement   22.235364
4      horsepower    9.982839
5          weight   13.611870
6    acceleration    2.630350
7      model year    1.948277
8          origin    1.893736

In [ ]:
VIF["VIF"]

0    790.888714
1      5.601553
2     10.802663
3     22.235364
4      9.982839
5     13.611870
6      2.630350
7      1.948277
8      1.893736
Name: VIF, dtype: float64

In [ ]:
VIF["VIF"][0]

790.8887143972258

In [ ]:
VIF["RÀÜ2"] = [((-1+VIF["VIF"][i])/(VIF["VIF"][i])) for i in range(len(VIF["VIF"]))]

In [ ]:
VIF["RÀÜ2"]

0    0.998736
1    0.821478
2    0.907430
3    0.955027
4    0.899828
5    0.926535
6    0.619822
7    0.486726
8    0.471943
Name: RÀÜ2, dtype: float64

In [ ]:
VIF

  Data Type - Var         VIF       RÀÜ2
0           const  790.888714  0.998736
1             mpg    5.601553  0.821478
2       cylinders   10.802663  0.907430
3    displacement   22.235364  0.955027
4      horsepower    9.982839  0.899828
5          weight   13.611870  0.926535
6    acceleration    2.630350  0.619822
7      model year    1.948277  0.486726
8          origin    1.893736  0.471943

In general, a VIF above 10 indicates a high correlation. Therefore, displacement, cylinders, horsepower, and weight could be combined into a variable, or one or two of them could be deleted.